{% extends "base.html" %}

{% block title %}Jobs{% endblock %}
{% block content %}
<section>
    <p class="h1">Works log</p>
    {% if current_user.is_authenticated %}
        <a class="btn btn-secondary" href="/addjob">Добавить работу</a>
    {% endif %}
    <article class="jobs">
    {% for job in data["jobs"] %}
        <article class="job">
            <h2>Action # {{ job.id }}</h2>
            <article class="job_header">
                <article><p class="header_text">Title of activity</p></article>
                <article><p class="header_text">Team leader</p></article>
                <article><p class="header_text">Duration</p></article>
                <article><p class="header_text">List of collaborators</p></article>
                <article><p class="header_text">is finished</p></article>
            </article>
            <article class="job_body">
                <article class="main_info"><p>{{ job.job }}</p></article>
                <article class="main_info"><p>{{ data["users"][job.team_leader] }}</p></article>
                <article class="main_info"><p>{{ job.work_size }} hours</p></article>
                <article class="main_info"><p>{{ job.collaborators }}</p></article>
                {% if job.is_finished %}
                    <article class="finished"><p>finished</p></article>
                {% else %}
                    <article class="not_finished"><p>is not finished</p></article>
                {% endif %}
            </article>
            {% if current_user.is_authenticated and (current_user.id == job.team_leader or current_user.id == 1) %}
            <div class="mt-2">
                <a href="/job/{{ job.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/jobs_delete/{{ job.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
            {% endif %}
        </article>
    {% endfor %}
    </article>
</section>
{% endblock %}